body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.invoice-card {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.invoice-header {
    background-color: #6c99e0;
    color: #050e32;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.invoice-body {
    padding: 20px;
}

.product-details {
    margin-bottom: 10px;
}