/* productView.css */

.bg-products {
    background-color: #dedede;
    background-attachment: fixed;
}

.imagesAndPrice {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.images {
    max-width: 50%;
}

.main-img-container {
    position: relative;
}

.main-img-container img {
    width: 100%;
    height: auto;
    border: 2px solid #fff; /* White border around the main image */
    border-radius: 5px; /* Optional: Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    transition: transform 0.3s ease-in-out;
}

.img-selector-container {
    display: flex;
    justify-content: space-between;
}

.img-selector-container img {
    width: 20%;
    cursor: pointer;
    border: 2px solid #444;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.img-selector-container img:hover {
    border-color: #fff; /* Change border color on hover */
}

.nameAndPrice {
    max-height: 300px;
}

/* Media query for phones */
@media (max-width: 576px) {
    .imagesAndPrice {
        flex-direction: column;
    }
}

/* Media query for tablets */
@media (min-width: 577px) and (max-width: 991px) {
    /* Add tablet-specific styles here if needed */
}

/* Media query for large screens */
@media (min-width: 992px) {
    /* Add large-screen-specific styles here if needed */
}
