.mainImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bg-products {
    background-color: #dedede;
    background-attachment: fixed;
}

.rightArrow {
    right: 0;
}

.imgButton {
    background-color: rgba(255, 255, 255, 0.329);
    border: none;
    cursor: pointer;
}

.productImages {
    max-height: 300px; /* Adjust the max-height to your preference */
    overflow: hidden;
}

.descriptionContainer {
    height: 150px;
    border-radius: 0px 0px 25px 25px;
    font-size: small;
}

.allProductsViewIndex {
    gap: 30px;
}

.productContainer {
    width: 270px;
    height: 300px;
    overflow: hidden;
}

.categories {
    display: flex;
    gap: 10px;
    width: 50%;
    height: auto;
}

.categories ::-webkit-scrollbar {
    height: 5px;
}


.categories ::-webkit-scrollbar-track {
    background: #f1f1f100;
}

.categories ::-webkit-scrollbar-thumb {
    background: #0037ff;
    border-radius: 15px;
}

.categories ::-webkit-scrollbar-thumb:hover {
    background: #001e8a;
}

/* Media query para teléfonos */
@media (max-width: 576px) {
    .allProductsViewIndex {
    }
}

/* Media query para tablets */
@media (min-width: 577px) and (max-width: 991px) {
}

/* Media query para pantallas grandes */
@media (min-width: 992px) {
    .allProductsViewIndex {
    }
    .productContainer {
        height: 300px;
        width: 300px;
        overflow: hidden;
    }
}
