.order-summary {
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.order-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-list {
    width: 100%;
    margin-top: 20px;
}

.product-list th,
.product-list td {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
    text-align: left;
}

.product-list th {
    background-color: #f8f9fa;
}

.product-list td:nth-child(2) {
    text-align: right;
}

.product-list th:nth-child(2) {
    text-align: right;
}

.product-name {
    font-weight: bold;
}

.total-price {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    text-align: right;
}

.imgMiniature {
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.order-status {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
    text-align: right;
}